<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIRequiresFullScreen</key>
    <true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Developer</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Roblox Developer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CrashlyticsKey</key>
	<string>7991889011d53be5ccf9f6f42d9a1ea05a702eb7</string>
	<key>Fonts provided by Application</key>
	<string></string>
	<key>GoogleAnalyticsAccount</key>
	<string>UA-54047300-1</string>
	<key>GoogleAnalyticsSampleRate</key>
	<integer>100</integer>
	<key>GuiBuilderDisplayStatsIndex</key>
	<integer>0</integer>
	<key>RbxBaseMobileUrl</key>
	<string>http://www.roblox.com/</string>
	<key>RbxBaseUrl</key>
	<string>http://www.roblox.com/</string>
	<key>RbxPairCode</key>
	<string></string>
	<key>RbxUserAgent</key>
	<string>RbxRobloxDeveloper</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>RobloxDeveloperiPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>RobloxDeveloperiPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
