<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppiraterId</key>
	<string>951155064</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ROBLOX Select</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.roblox.robloxtop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ROBLOX Select</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.178.11111</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.roblox.robloxmobile.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>robloxmobile</string>
				<string>fb190191627665278</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.178.11111</string>
	<key>CrashlyticsKey</key>
	<string>7991889011d53be5ccf9f6f42d9a1ea05a702eb7</string>
	<key>FacebookAppID</key>
	<string>190191627665278</string>
	<key>FacebookDisplayName</key>
	<string>ROBLOX Select</string>
	<key>FlurryKey</key>
	<string>MGH8KWN2YJZ6GM7T9WT3</string>
	<key>GoogleAnalyticsAccount</key>
	<string>UA-42322750-3</string>
	<key>GuiBuilderDisplayStatsIndex</key>
	<integer>0</integer>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2014 ROBLOX Inc.</string>
	<key>RbxBaseMobileUrl</key>
	<string>http://m.roblox.com/</string>
	<key>RbxBaseUrl</key>
	<string>http://www.roblox.com/</string>
	<key>RbxRequireCuratedGames</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>MyriadPro-Bold.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
