<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>RobloxStudio.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.Roblox.${BUNDLE_IDENTIFIER:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0.239</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSUIPresentationMode</key>
	<real>0</real>
	<key>CFBundleVersion</key>
	<string>239</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SetupServer</key>
	<string>http://setup.roblox.com/mac/</string>
	<key>BaseServer</key>
	<string>http://www.roblox.com/</string>
	<key>NSUIElement</key>
	<string>1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Roblox Studio URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>roblox-studio</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
