html, body {padding:0px; margin:0px;}
body {background:#f2f2f2; overflow:hidden; margin:0 auto; width:80%;}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url("fonts/SourceSansPro-Regular.ttf");
}

#moreContainer {
    margin-top:5%;
}

.container {
	width:100%;
	margin:0 auto;
	/*height:60%;
	height: 60vh;*/
	/*background-color:rgba(114, 114, 114, .05);*/
}

.centerBtn {
    margin:0 1%;
}

.btn {
	display:inline-block;
	width:30.5%;
	text-align:center;
	/*border:1px solid black;*/
	/*margin:1%;*/
	background-color:#fff;
	height:100%;
	height:16vh;
	font-family: 'SourceSansPro-Regular', sans-serif;
	font-size:11pt;
	box-shadow: 0px 0px 11px 1px rgba(114, 114, 114, 0.35);
	padding-bottom:5%;
	padding-bottom:0vh;
	position:relative;
	min-height: 50px;
}

.centerText {
    margin:0 auto;
    text-align:center;
}

.btnContainer {
	position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 100%;
    margin: -18% 0 0 -50%;
}

/*.btn img {width:25%; min-height:28px; margin: 15% auto 0;  margin: 4vh auto 0; display:block;  vertical-align: center;}*/
.btn img {/*width:25%; min-height:28px;*/max-height:56px; width:25%; margin:0 auto;/*margin: 18% auto 0;  margin: 6vh auto 0;*/ display:block;}

.row {display:block; height:35%; height:15vh; width: 100%; margin-bottom:4%; margin-bottom:2.5vh; text-align:center;}

a .btn, a .longBtn { -webkit-tap-highlight-color: rgba(0,0,0,0); color:#000;}
a .btn:active, a .longBtn:active,  a .halfBtn:active { background-color:#727272; }
a { text-decoration: none; }

.longRow {
	display:block;
	height:60%;
	height:9vh;
	width:98.1%;
	/*margin-bottom:1.5vh;*/
	margin: 0 auto 4%;
	margin: 0 auto 2vh;
	text-align:center;
}

.longBtn {
	margin:1%;
	height:100%;
	background-color:#fff;
	box-shadow: 0px 0px 11px 1px rgba(114, 114, 114, 0.35);
	font-family: 'SourceSansPro-Regular', sans-serif;
	font-size:15pt;
}

.longBtn img {
	width: 50%;
	width: 9vw;
	/*padding-left:10%;
	padding-right:10%;*/
	margin-top:2vh;
	max-height:20%;
	max-height:6vh;
	vertical-align: middle;
}

#rowMessages {width:98.1%;}

#msgImgDiv {display:inline-block; /*margin-left:18%; margin-left:15vw;*/ width:100%;}
#msgImgDiv img {max-width:10%; margin:3% 0; padding-right:5%;}

.disabled {
	opacity: 0.3;
}

/* Events Page */
#eventsContainer {
	display:none;
	margin: 10% auto 0;
	margin: 10vh auto 0;
}

#eventsContainer h3 {
	font-size:10pt;
	color:#AAA;
	font-family: 'SourceSansPro-Regular', sans-serif;
	margin-left:.5vw;
	margin-left:2%;
	margin-top: 5vh;
	margin-bottom: 0vh;
}

#eventsContainer .longRow {
	height:50%;
	height:11vh;
}

.halfBtn, .halfBtnCompat {
	display:inline-block;
	width:47.2%;
	text-align:center;
	/*border:1px solid black;*/
	margin:1%;
	padding-top:1%;
	background-color:#fff;
	height:90%;
	font-family: 'SourceSansPro-Regular', sans-serif;
	font-size:14pt;
	box-shadow: 0px 0px 11px 1px rgba(114, 114, 114, 0.35);
	/*overflow:hidden;*/
}

.halfBtn img {
	min-height:77%;
	max-height:77%;
	width:auto;
	padding-top:1%;
}

.fullBtn img {min-height:84%; max-height: 84%; width:auto;}
.fullBtn, .fullBtnCompat {
	width:98.2%;
	padding-bottom:1%;
}

.halfBtnCompat img {width:70%;}
.fullBtnCompat img {width:70%;}