<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service
          name="Roblox.Test.RunService"
          behaviorConfiguration="RunServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Roblox.Test/RunService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/Roblox.Test/RunService  -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Roblox.Test.IRun" />
        <!-- the mex endpoint is exposed at http://localhost:8000/Roblox.Test/RunService/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="RunServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- bindings for client side-->
    <bindings>
      <!-- we use this one.-->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRun" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRun" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- you will want to use this, but with a different address for each computer. -->
    <client>
      <!-- we use this one-->
      <endpoint address="http://localhost:8000/Roblox.Test/RunService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRun"
          contract="Roblox.Test.Client.IRun" name="BasicHttpBinding_IRun" />
      <endpoint address="http://localhost:8000/Roblox.Test/RunService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRun"
          contract="Roblox.Test.Client.IRun" name="WSHttpBinding_IRun">
        <identity>
          <userPrincipalName value="Heorot\ncoder" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>

</configuration>

